@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

#wrapper a { text-decoration: none; }

#ad {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #b1b1b1;
  opacity: 0;
  height: 66px !important;
}

#ad * {
  margin: 0 10px;
}

#pixel { opacity: 0; position: absolute; }

#logo {
  width: 92px;
  margin-left: 15px;
  display: none;
}

#headline {
  display: block;
  line-height: 1.2;
  font-size: 28px;
  font-weight: 300;
  color: black;
  white-space: nowrap;
  font-weight: bold;
  vertical-align: middle;
  margin: -4px 10px 0 15px;
}

#subhead {
  color: #F35326;
  text-align: left;
  font-size: 14px;
  line-height: 1.3em;
  max-width: 170px;
}

#image {
  display: block;
  width: 270px;
  margin-top: -1px;
}

#bullets {
  text-align: left;
  font-size: 11px;
  min-width: 190px;
  margin: 0 -30px 0px 10px;
  padding: 0 0px 0 15px;
  display: none;
}

#bullets li {
  margin: 0px 0px 0px 0px;
}

#bullets li span {
    margin: 0 0 0 -5px !important;
}

#prices {
  text-align: left;
  margin: 0 0 0 10px;
}

#price-reg {
  color: #333;
  font-size: 14px;
  text-decoration: line-through;
  margin: 0;
}

#price-disc {
  color: #cc0000;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

#cta {
  background: #cc0000;
  display: inline-block;
  padding: 9px 16px 11px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  min-width: 100px;
  border-radius: 20px;
  border: 1px solid white;
}

#cta:hover {
  color: #cc0000;
  background: white;
  border: 1px solid #cc0000;
  transition: all .2s ease-in;
  border-radius: 20px;
}

#cta-wrapper {
    margin: 0 3px 0 3px;
}

#value {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 9px;
  color: white;
  text-align: right;
  background: black;
  padding: 0 2px;
  display: none;
}

#key { 
  display: none;
}
