@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

#wrapper a { text-decoration: none; }

#ad {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #b1b1b1;
  opacity: 0;
}

#ad * {
  margin: 0 15px;
}

#logo {
  display: block;
  top: 18px;
  left: 12px;
  width: 140px;
}

#headline {
  display: block;
  line-height: 1.2em;
  font-size: 28px;
  font-weight: 300;
  color: #333;
  white-space: nowrap;
  font-weight: bold;
}

#subhead {
  display: block;
  color: #333;
  text-align: left;
}

#image {
  display: block;
  height: 100px;
  margin-top: 40px;
}

#price-reg {
  color: #333;
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 10px;
}

#price-disc {
  color: #cc0000;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0;
}

#cta {
  background: #cc0000;
  display: inline-block;
  padding: 9px 16px 11px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  min-width: 140px;


}

#value {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 9px;
  color: white;
  text-align: right;
  background: black;
  padding: 0 2px;
  display: none;
}
